body {
  font-family: "proxima-nova", sans-serif;
  background: #e5e5e5;
}

.report small {
  color: #aaa;
  margin-top: 15px;
  display: inline-block;
  font-weight: 100;
}

.btn-default {
  background: #ff4020;
  border: 1px solid #ea3b1d;
  color: white;
}

form small {
  margin-top: 0px !important;
}

h5 {
  text-align: center;
}

form p {
  font-size: 1.5em;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

.profile img {
  width: 25px;
  height: auto;
  border-radius: 30px;
  vertical-align: -18px;
  margin-left: -5px;
}

.btn-group .glyphicon {
  color: #ddd;
}

.btn-group .active {
  color: #ff4020;
}

.medio {
  width: 40px;
}

.location {
  padding-top: 5px;
}

.location span {
  display: inline-block;
}

.navbar .glyphicon {
  vertical-align: -2px;
}

.location span:first-child {
  vertical-align: -1px;
}

.profile {
  padding-top: 10px;
}

.plus {
  margin-right: 10px;
}

.profile span {
  font-weight: 600;
}

p {
  font-weight: 300;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

img {
  margin-bottom: 10px;
}

.report {
  width: 95%;
  border-radius: 5px;
  margin: 0 auto;
  background: white;
  margin-bottom: 20px;
}

textarea {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  resize: none;
  margin-bottom: 10px;
}

.rounded {
  border-radius: 5px;
}

.organization {
  border-bottom: none;
  padding-top: 10px;
}

form .location {
  padding-top: 10px;
}

hr {
  margin: 10px 0;
  padding: 0;
}

.back {
  font-size: 1em;
  color: #ff4020 !important;
  font-weight: 300;
}

.form {
  padding: 10px;
}

.content {
  padding: 10px;
  padding-bottom: 0;
}

.glyphicon-map-marker, .location span:last-child {
  /*color: #337ab7;*/
  color: #999;
}


@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

.navbar-default{
  padding-top: 20px;
}
